body {
    
    color: black;
    text-align: center;
    background: url("img/Windows.jpg") no-repeat center fixed;
    background-size: cover;
    font-family: monospace;
    padding-top: px;

}
